**/.vscode/**
.venv
.env
.env.*
uv_secrets.txt
.devenv*
devenv.local.nix
.pre-commit-config.yaml
.direnv/
.pre-commit-config.yaml
# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml
.dmypy.json
.mypy_cache
*.egg-info
*/*/__pycache__/
# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
